
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
}
nav li:hover{
    background-color: aqua;
}
nav li a{
    text-decoration: none;
    color: black;
}
label{
    display: block;
    margin-bottom: 9px;
}
.table{
    text-align: center;
}
table{
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}
td,th{
    border: 2px solid lightgray;
    padding: 5px 15px;
}
footer{
    text-align: center;
}